database:
  mysql:
    host: "localhost"
    port: "3306"
    username: "root"
    password: "password"
  redis:
    host: "localhost"
    port: "6379"
    username: "root"
    password: "password"
    db: "0"